@using System.Web.Optimization
@using Exceptionless.App.Extensions
@using Exceptionless.Core
@using Exceptionless.Core.Models
@{
    Layout = "~/Views/Shared/_TopNavLayout.cshtml";

    bool isLoggedIn = Request.IsAuthenticated;
    string userFullName = null;
    if (isLoggedIn) {
        userFullName = User.Identity.Name;
    }
    if (ViewBag.User != null) {
        userFullName = ViewBag.User.FullName;
    }

    IntercomModel intercomData = ViewBag.IntercomData;

    ViewBag.LogoUrl = "/project";
}

@section HeadContent {
    @Styles.Render("~/content/app.css")
    @RenderSection("HeadContent", required: false)
}

@section NavItemContent {
    @if (isLoggedIn) {
        <ul class="nav pull-right visible-desktop">
            <li class="divider-vertical"></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action("Manage", "Account")">@userFullName <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Manage", "Account")"><i class="fa fa-user fa-fw"></i>My Account</a></li>
@if (Settings.Current.EnableBilling) {
                    <li><a href="#plan-modal" data-bind="click: function(){ exceptionless.App.showChangePlanDialog(); return true; }"><i class="fa fa-credit-card fa-fw"></i>Change Plan</a></li>
}
                    <li><a href="@Url.Action("Manage", "Account")#password"><i class="fa fa-lock fa-fw"></i>Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-power-off fa-fw"></i>Logout</a></li>
                </ul>
            </li>
        </ul>
        
        <div class="nav-collapse hidden-desktop">
            <ul class="nav">
                <li class="visible-phone @if(Html.IsActiveMenuItem("Index", "Project")){ <text>active</text>}">
                    <a data-bind="attr: { href: '/project/' + selectedProjectId() }" href="/project"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a></li>
                <li class="visible-phone @if(Html.IsActiveMenuItem("Recent", "Project")){ <text>active</text>}">
                    <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/recent' }" href="/project/recent"><i class="fa fa-calendar fa-fw"></i>Most Recent</a>
                </li>
                <li class="visible-phone @if(Html.IsActiveMenuItem("Frequent", "Project")){ <text>active</text>}">
                    <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/frequent' }" href="/project/frequent"><i class="fa fa-signal fa-fw"></i>Most Frequent</a>
                </li>
                <li class="visible-phone @if(Html.IsActiveMenuItem("New", "Project")){ <text>active</text>}">
                    <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/new' }" href="/project/new"><i class="fa fa-asterisk fa-fw"></i>New</a>
                </li>
@if (Settings.Current.EnableBilling) {
                <li><a href="#plan-modal" data-bind="click: function(){ exceptionless.App.showChangePlanDialog(); return true; }"><i class="fa fa-credit-card fa-fw"></i>Change Plan</a></li>
}
                <li @if (Html.IsActiveMenuItem("List", "Project")) { <text>class="active"</text>}>
                    <a href="@Url.Action("List", "Project")"><i class="fa fa-briefcase fa-fw"></i>My Projects</a>
                </li>
                <li @if(Html.IsActiveMenuItem("List", "Organization")){ <text>class="active"</text>}>
                    <a href="@Url.Action("List", "Organization")"><i class="fa fa-group fa-fw"></i>My Organizations</a>
                </li>
                <li @if(Html.IsActiveMenuItem("Manage", "Account")){ <text>class="active"</text>}>
                    <a href="@Url.Action("Manage", "Account")"><i class="fa fa-user fa-fw"></i>My Account</a>
                </li>
@if (Settings.Current.EnableBilling && User.IsInRole(Exceptionless.Core.Authorization.AuthorizationRoles.GlobalAdmin)) {
                <li @if (Html.IsActiveMenuItem("Index", "Admin")) { <text>class="active"</text>}>
                    <a href="@Url.Action("Index", "Admin")"><i class="fa fa-cog fa-fw"></i>Admin</a>
                </li>
}
                <li><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-power-off fa-fw"></i>Logout</a></li>
            </ul>
        </div>
    }
}

<div id="wrap">
    <div id="main" class="container clear-top mini-footer">
        <div id="content">
            <div class="container">
                <div class='notifications top-right'></div>
                <div class='notifications bottom-right'></div>
                <div class='notifications top-left'></div>
                <div class='notifications bottom-left'></div>
                <div class="row">
                    <div class="span3 hidden-phone">
@if (ViewBag.User != null) {
                        <div class="account-container">
                            <div class="account-avatar">
                                <a href="@Url.Action("Manage", "Account")">
                                    <img src="@GravatarHelper.CreateGravatarUrl(@ViewBag.User.EmailAddress, 55, "identicon", GravatarRating.PG, false, false)" alt="@ViewBag.User.EmailAddress" class="thumbnail" />
                                </a>
                            </div><!-- /account-avatar -->
                            <div class="account-details">
                                <span class="account-name">@ViewBag.User.FullName</span>
                                <span class="account-actions">
                                    @Html.ActionLink("Edit Profile", "Manage", "Account")
                                </span>
                            </div><!-- /account-details -->
                        </div>
                        <!-- /account-container -->
        
                        <hr />
}
                        <ul id="main-nav" class="nav nav-tabs nav-stacked">
@if (ViewBag.User != null) {
                            <li @if (Html.IsActiveMenuItem("Index", "Project")) { <text>class="active"</text>}>
                                <a data-bind="attr: { href: '/project/' + selectedProjectId() }"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                            </li>
                            <li @if (Html.IsActiveMenuItem("Recent", "Project")) { <text>class="active"</text>}>
                                <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/recent' }"><i class="fa fa-calendar fa-fw"></i>Most Recent</a>
                            </li>
                            <li @if (Html.IsActiveMenuItem("Frequent", "Project"))
                                { <text>class="active"</text>}>
                                <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/frequent' }"><i class="fa fa-signal fa-fw"></i>Most Frequent</a>
                            </li>
                            <li @if (Html.IsActiveMenuItem("New", "Project")) { <text>class="active"</text>}>
                                <a data-bind="attr: { href: '/project/' + selectedProjectId() + '/new' }"><i class="fa fa-asterisk fa-fw"></i>New</a>
                            </li>
}
                            <li @if (Html.IsActiveMenuItem("List", "Project")) { <text>class="active"</text>}>
                                <a href="@Url.Action("List", "Project")"><i class="fa fa-briefcase fa-fw"></i>My Projects</a>
                            </li>
                            <li @if (Html.IsActiveMenuItem("List", "Organization")) { <text>class="active"</text>}>
                                <a href="@Url.Action("List", "Organization")"><i class="fa fa-group fa-fw"></i>My Organizations</a>
                            </li>
                            <li @if (Html.IsActiveMenuItem("Manage", "Account")) { <text>class="active"</text>}>
                                <a href="@Url.Action("Manage", "Account")"><i class="fa fa-user fa-fw"></i>My Account</a>
                            </li>
@if (Settings.Current.EnableBilling && User.IsInRole(Exceptionless.Core.Authorization.AuthorizationRoles.GlobalAdmin)) {
                            <li @if (Html.IsActiveMenuItem("Index", "Admin")) { <text>class="active"</text>}>
                                <a href="@Url.Action("Index", "Admin")"><i class="fa fa-cog fa-fw"></i>Admin</a>
                            </li>
}
                            <li>
                                <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="feedback" data-uv-primary-color="#568f01" data-uv-link-color="#78b001" data-uv-default-mode="support" data-uv-forum-id="199409">
                                    <i class="fa fa-comment fa-fw"></i>Feedback
                                </a>
                            </li>
@if (Settings.Current.EnableIntercom) {
                            <li>
                                <a id="intercom" href="mailto:6c0d76e0bec950052459f5cb4b727a949aeabbe1@incoming.intercom.io"><i class="fa fa-envelope fa-fw"></i>Support</a>
                            </li>
}
                        </ul>
                        <br />

                    </div><!-- /span3 -->

                    <div class="span9">
                        <div id="system-notifications"></div>
                        @RenderBody()
                    </div><!-- /span9 -->
                </div><!-- /row -->
            </div> <!-- /container -->
        </div> <!-- /content -->
    </div>
</div>

<footer class="footer mini-footer">
    <div id="footer">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div style="width: 40%; float: left;">
                        <p>&copy; @DateTime.Now.Year <a href="http://exceptionless.com">Exceptionless</a></p>
                    </div>
                    <div style="width: 60%; float: left;">
                        <p class="pull-right"><a href="@ViewBag.LogoUrl" class="hidden-phone">Home</a> <a href="http://docs.exceptionless.com/contents/home" class="hidden-phone">Help</a> <a href="http://exceptionless.com/privacy">Privacy Policy</a> <a href="http://exceptionless.com/terms">Terms of Use</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

@section FooterContent {
    @Html.Partial("_AppScripts")

    @if (isLoggedIn) {
        @Html.Partial("_SelectPlanModal")
    }

    @RenderSection("FooterContent", required: false)
    
    @if (Settings.Current.EnableIntercom && intercomData != null) {
    <script id="IntercomSettingsScriptTag">
        window.intercomSettings = {
            user_id: '@intercomData.UserId',
            user_hash: '@intercomData.UserHash',
            email: '@intercomData.UserEmail',
            created_at: @intercomData.UserCreated,
@if (intercomData.HasCompany) {
        <text>
            company: {
                id: '@intercomData.CompanyId',
                name: '@intercomData.CompanyName',
                created_at: @intercomData.CompanyCreated,
                plan: '@intercomData.Plan',
                monthly_spend: @intercomData.BillingPrice,
                total_errors: @intercomData.TotalErrors,
                subscribe_at: @intercomData.SubscribeDate
            },
        </text>
}
            app_id: '@Settings.Current.IntercomAppId',
            widget: {
                activator: '#intercom',
                use_counter: true
            }
        };
    </script>
    <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://static.intercomcdn.com/intercom.v1.js'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }; })()</script>
    }
}