@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_TopNavLayout.cshtml";
}

@section HeadContent {
    @if (IsSectionDefined("HeadContent")) {
        @RenderSection("HeadContent", required: false)
    } else {
        @Styles.Render("~/content/main.css")
    }
}

<div id="wrap">
    <div id="main" class="container clear-top mini-footer">
        <div id="content">
            <div class="container">
                @RenderBody()
            </div> <!-- /container -->
        </div> <!-- /content -->
    </div>
</div>

<footer class="footer mini-footer">
    <div id="footer">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div style="width: 40%; float: left;">
                        <p>&copy; @DateTime.Now.Year Exceptionless</p>
                    </div>
                    <div style="width: 60%; float: left;">
                        <p class="pull-right"><a href="@ViewBag.LogoUrl">Home</a> <a href="/privacy">Privacy Policy</a> <a href="/terms">Terms of Use</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@section FooterContent {
    @if (IsSectionDefined("FooterContent")) {
        @RenderSection("FooterContent", required: false)
    } else {
        @Scripts.Render("~/scripts/main.js")
    }
}