@model HandleErrorInfo 
@{
    Layout = "_BareLayout.cshtml";
}

<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>Oops! We failed to be exceptionless.</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                @if (ViewBag.ExceptionlessIdentifier == null) {  
                    <p>We apologize, but an error has occurred and your request could not be completed. This error has been logged.</p>
                } else {
                    <blockquote>
                    <p>We apologize, but an error has occurred and your request could not be completed.
                        This error has been logged. To help us diagnose the cause of this error, please enter your email address and describe what you were doing when
                        the error occurred.</p>
                        </blockquote>
                    using (Html.BeginForm("Oops", "Home", FormMethod.Post)) {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Identifier", (string)ViewBag.ExceptionlessIdentifier)
                        <div class="control-group">
                            <label for="EmailAddress" class="control-label">Your email address (optional):</label>
                            <div class="controls">
                                <input class="input-xlarge" data-val="true" data-val-email="The Email Address field is not a valid e-mail address." id="EmailAddress" name="EmailAddress" type="email" value="@ViewBag.EmailAddress">
                                <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->

                        <div class="control-group">
                            <label for="Description" class="control-label">Describe what you were doing when the error occurred (optional):</label>
                            <div class="controls">
                                <textarea class="span5" id="Description" name="Description" rows="6"></textarea>
                            </div> <!-- /controls -->
                        </div> <!-- /control-group -->
        
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Submit Feedback" />
                            @if (Request.IsAuthenticated) {
                                @Html.ActionLink("Cancel", "Index", "Project", null, new { @class = "btn" })
                            } else {
                                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn" })
                            }
                        </div> <!-- /form-actions -->
                    }
                }
            </div>
        </div>
    </div>
</div>
