@using CodeSmith.Core.Collections
@using CodeSmith.Core.Extensions
@model Exceptionless.Models.ExtendedDataDictionary
<div class="extended-data">
    <ul class="nav nav-pills" data-tabs="tabs">
        @foreach (var item in Model.AsIndexedEnumerable()) {
            <li class="@(item.IsFirst ? "active" : "")">
                <a data-toggle="tab" href="#@item.Value.Key.ToHtmlIdentifier()">@item.Value.Key.ToSpacedWords()</a>
            </li>
        }
    </ul>
    <div class="tab-content nav-pills">
        @foreach (var item in Model.AsIndexedEnumerable()) {
            <div id="@item.Value.Key.ToHtmlIdentifier()" class="tab-pane @(item.IsFirst ? "active" : "")" data-bind-template="@item.Value.Key.ToHtmlIdentifier()">
                @item.Value.Value
            </div>
        }
    </div>
</div>
