@using Exceptionless.App.Models.Error
@model ErrorModel

<h3 class="visible-print">Request</h3>
<table class="table table-bordered table-striped table-fixed keyvalue">
    <tr class="hidden-print">
        <th>Occurred On</th>
        <td>@Model.OccurrenceDate.ToString("MMMM d, yyyy h:mm:ss tt") (<span data-bind="livestamp: occurrence, hideTitle: true"></span>)</td>
    </tr>
    <tr>
        <th>HTTP Method</th>
        <td>@Model.RequestInfo.HttpMethod</td>
    </tr>
    <tr>
        <th>URL</th>
        <td><a href="@Model.RequestInfo.GetFullPath()" target="_blank" class="t8-default">@Model.RequestInfo.GetFullPath()</a></td>
    </tr>
    <tr>
        <th>Referrer</th>
    @if (!String.IsNullOrEmpty(Model.RequestInfo.Referrer)) {
        <td><a href="@Model.RequestInfo.Referrer" target="_blank" class="t8-default">@Model.RequestInfo.Referrer</a></td>
    } else {
        <td><em>None</em></td>
    }
    </tr>
    <tr>
        <th>Client IP</th>
        <td>@Model.RequestInfo.ClientIpAddress</td>
    </tr>
    <tr>
        <th>User Agent</th>
        <td><span class="t8-lines2">@Model.RequestInfo.UserAgent</span></td>
    </tr>
@if (Model.UserAgentInfo != null) {
    <tr>
        <th>Browser</th>
        <td><span class="t8-default">@Model.UserAgentInfo.UserAgent.ToString()</span></td>
    </tr>
    <tr>
        <th>Browser OS</th>
        <td>@Model.UserAgentInfo.OS.ToString()</td>
    </tr>
if (!String.IsNullOrEmpty(Model.UserAgentInfo.Device.Family)) {
     <tr>
         <th>Device</th>
         <td>@Model.UserAgentInfo.Device.ToString()</td>
     </tr>
}
    <tr>
        <th>Is Known Bot</th>
        <td>@Model.UserAgentInfo.Device.IsSpider</td>
    </tr>
}
</table>

@if (Model.RequestInfo.PostData != null) {
    @Html.Partial("_ExtendedDataItem", new ExtendedDataItemModel { Data = new KeyValuePair<string, object>("PostData", Model.RequestInfo.PostData), CanBePromoted = false })
}

@if (Model.RequestInfo.Cookies != null && Model.RequestInfo.Cookies.Count > 0) {
    <h4>Cookie Values</h4>
    <table class="table table-bordered table-striped table-fixed keyvalue">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.RequestInfo.Cookies) {
            <tr>
                <td>@item.Key</td>
                <td><span class="t8-lines3">@item.Value</span></td>
            </tr>
    }
        </tbody>
    </table>
}