@using CodeSmith.Core.Extensions
@model Exceptionless.App.Models.Error.ExtendedDataItemModel
<h4 class="pull-left">@(Model.Title ?? Model.Data.Key.ToSpacedWords())</h4>
<div class="pull-right" style="margin-top: 1.2em;">
    <button class="btn btn-gray btn-mini clipboard" title="Copy to Clipboard" data-clipboard-target="raw-@Model.Data.Key.ToHtmlIdentifier()-data"><i class="fa fa-copy"></i></button>
    <div class="btn-group">
        <button class="btn btn-gray btn-mini" onclick="$('#table-@Model.Data.Key.ToHtmlIdentifier(), #raw-@Model.Data.Key.ToHtmlIdentifier()').toggle();">Toggle View</button>
        @if (Model.CanBePromoted && !Model.Data.Key.StartsWith("__")) {
            <button class="btn btn-gray btn-mini dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                @if (!Model.IsPromoted) {
                    <li><a href="#" data-bind="click: function () { promoteTab('@Model.Data.Key'); }">Promote to Tab</a></li>
                } else {
                    <li><a href="#" data-bind="click: function () { demoteTab('@Model.Data.Key'); }">Demote Tab</a></li>
                }
            </ul>
        }
    </div>
</div>
<div class="clearfix"></div>
<div id="table-@Model.Data.Key.ToHtmlIdentifier()" data-bind-template="@Model.Data.Key.ToHtmlIdentifier()">
    @Model.Data.Value
</div>
<div id="raw-@Model.Data.Key.ToHtmlIdentifier()" class="hide">
    <pre id="raw-@Model.Data.Key.ToHtmlIdentifier()-data">@Model.Data.Value</pre>
</div>
