@using Exceptionless.Web.Models.Error
@model ErrorModel

@{
    ViewBag.Title = "Error Occurrence";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="free-plan-notification" class="alert in fade alert-success" style="display: none;">
    <strong>You are on a free plan.</strong>
    <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog()">Upgrade now</a> to enable premium features and extra storage!
</div>

<div class="widget" id="error-@Model.Id">
    <div class="widget-header">
        <h3>Error Occurrence</h3>
        <div class="pull-right">
            <a href="/stack/@Model.ErrorStackId" title="Go To Stack" class="btn btn-gray fa fa-caret-up"></a>
            <a id="previousErrorLink" data-bind="attr: { href: previousErrorLink() + currentTabHash() }" title="Previous Occurrence" class="btn btn-gray fa fa-caret-left @(String.IsNullOrEmpty(Model.PreviousErrorId) ? "disabled" : null)"></a>
            <a id="nextErrorLink" data-bind="attr: { href: nextErrorLink() + currentTabHash() }" title="Next Occurrence" class="btn btn-gray fa fa-caret-right @(String.IsNullOrEmpty(Model.NextErrorId) ? "disabled" : null)"></a>
        </div>
    </div> <!-- /widget-header -->
    <div class="widget-content">
        <p>Unable to view error occurrence due to plan limits. Upgrade your plan now to view this error occurrence.</p>

        <div class="form-actions">
            @Html.ActionLink("Go To Stack", "Index", "Stack", new { id = Model.ErrorStackId }, new { @class = "btn" })
            <a class="btn btn-primary pull-right" href="#plan-modal" data-bind="click: function(){ exceptionless.App.showChangePlanDialog({ id: '@Model.OrganizationId', name: '@Model.OrganizationId', planId: 'EX_FREE' }); return true; }"><i class="fa fa-credit-card"></i> Change Plan</a>
        </div>
    </div> <!-- /widget-content -->
</div> <!-- /widget -->

@section FooterContent {
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.error.DashboardViewModel('error-@Model.Id', 'main-nav', 'projects', 'daterange', 'error-tabs', '@Model.ProjectId', false, @Html.Raw(Json.Encode(new { ProjectId = Model.ProjectId, OccurrenceDate = Model.OccurrenceDate, PreviousErrorId = Model.PreviousErrorId, NextErrorId = Model.NextErrorId, ExceptionlessClientInfo = Model.ExceptionlessClientInfo, PromotedTabs = Model.PromotedTabs })));
        
            $("body").keydown(function(e) {
                if(e.keyCode == 37) { // left
                    window.location = $("#previousErrorLink").attr('href');
                } else if(e.keyCode == 39) { // right
                    window.location = $("#nextErrorLink").attr('href');
                }
            });
        });
    </script>
    @Html.Raw(Model.CustomContent)
}