@using System.Web.UI.WebControls
@model Exceptionless.Web.Models.Project.ProjectModel
@{
    ViewBag.Title = "Add Project";
    Layout = (bool)ViewBag.HasOrganizations ? "~/Views/Shared/_AppLayout.cshtml" : "~/Views/Shared/_BareLayout.cshtml";
    string navigationId = (bool)ViewBag.HasOrganizations ? "main-nav" : String.Empty;
}

<div class="widget" id="add-project">
    <div class="widget-header">
        <h3>Project Information</h3>
    </div> <!-- /widget-header -->
    <div class="widget-content">
        @Html.ValidationSummary(true, null, new Dictionary<string, object> { { "style", "color: red;" } })
        @using (Html.BeginForm("Add", "Project", FormMethod.Post, new { @class = "form-horizontal" })) {
            @Html.AntiForgeryToken()
            <div class="control-group" data-bind="visible: hasExistingOrganization">
                @Html.LabelFor(m => m.OrganizationId, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(m => m.OrganizationId, new SelectList(ViewBag.Organizations, "Id", "Name"))
                    @Html.ValidationMessageFor(m => m.OrganizationId, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group" style="display: none;" data-bind="visible: canCreateOrganization">
                @Html.LabelFor(m => m.OrganizationName, new { @class = "control-label", data_bind = "visible: !hasExistingOrganization()" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.OrganizationName, new { @class = "input-large", placeholder = "New organization name" })
                    @Html.ValidationMessageFor(m => m.OrganizationName, null, new { @class = "help-inline" })
                </div>
            </div>

            @Html.BeginControlGroupFor(m => m.Name)
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Name, new { @class = "input-large", placeholder = "Project name" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-inline" })
            </div>
            @Html.EndControlGroup()

            @Html.BeginControlGroupFor(m => m.TimeZone)
            @Html.LabelFor(m => m.TimeZone, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.TimeZone, new SelectList(ViewBag.TimeZones, "Id", "DisplayName", Model.TimeZone), new { @class = "span4" })
                <span class="help-block">Used to display charts and exception data in your local time.</span>
                @Html.ValidationMessageFor(m => m.TimeZone, null, new { @class = "help-inline" })
            </div>
            @Html.EndControlGroup()

            <div class="form-actions">
                <input class="btn btn-primary" data-bind="click: addProject" type="submit" value="Add Project" />
                @if ((bool)ViewBag.HasOrganizations) {
                    @Html.ActionLink("Cancel", "List", "Project", null, new { @class = "btn" })
                }
            </div> <!-- /form-actions -->
        }
    </div> <!-- /widget-content -->
</div> <!-- /widget -->

@section FooterContent {
    @if (!(bool)ViewBag.HasOrganizations) {
        @Html.Partial("_AppScripts")
    }

    <script type="text/javascript">
        var vm;
        $(document).ready(function () {
            vm = new exceptionless.project.AddViewModel('add-project', '@navigationId', '#@Html.IdFor(m => m.OrganizationId)', '#@Html.IdFor(m => m.OrganizationName)', '#@Html.IdFor(m => m.TimeZone)');
        });
    </script>
    
    @if (!(bool)ViewBag.HasOrganizations) {
        <!-- Google Code for Exceptionless Signup Conversion Page -->
        <script type="text/javascript">
        /* <![CDATA[ */
            var google_conversion_id = 1071808444;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "2zAOCI_Y-wYQvP-J_wM";
            var google_conversion_value = 0;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
        <noscript>
            <div style="display: inline;">
                <img height="1" width="1" style="border-style: none;" alt="" src="//www.googleadservices.com/pagead/conversion/1071808444/?value=0&amp;label=2zAOCI_Y-wYQvP-J_wM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    }
}
