@using System.Web.Optimization
@using Exceptionless.App.Extensions
@model Exceptionless.App.Models.Account.RegisterModel
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
                <a href="/"><img src="/images/exceptionless-350.png" style="float: none; margin-left: 0;" /></a>
            </div>
        </div>

        <div class="row">
            <div class="span8 offset2">
                <div class="widget">
                    <div class="widget-header" style="text-align: center;">
                        <h3 style="margin-right: 0;">Signup for a <strong>FREE</strong> account in seconds</h3>
                    </div>
                    <!-- /widget-header -->
                    <div class="widget-content">
                        <div class="form-horizontal">
                            <div class="controls">
                                <h4 style="margin-top: -5px;">Login with</h4>
                            </div>
                            <div class="controls">
                                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl, token = ViewBag.Token })
                            </div>
                            <div class="controls">
                                <div class="span4 horizontal-divider">
                                    <p>OR</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, null, new Dictionary<string, object> { { "style", "color: red;" } })
                        @using (Html.BeginForm("Signup", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Token = ViewBag.Token }, FormMethod.Post, new { onsubmit="return trackSignup();", id="signupform", @class="form-horizontal" })) {
                            @Html.AntiForgeryToken()
                            <div class="controls">
                                <h4 style="margin-top: 0;">Create an account</h4>
                            </div>

                            @Html.BeginControlGroupFor(m => m.FullName)
                                @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "span4", placeholder="Your first and last name" })
                                    @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "help-inline" })
                                </div>
                            @Html.EndControlGroup()

                            @Html.BeginControlGroupFor(m => m.EmailAddress)
                                @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "span4", placeholder="Email address (no spam)", type = "email" })
                                    @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-inline" })
                                </div>
                            @Html.EndControlGroup()

                            @Html.BeginControlGroupFor(m => m.Password)
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.PasswordFor(m => m.Password, new { @class = "span4", placeholder="Password" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                                </div>
                            @Html.EndControlGroup()

                            <div class="controls">
                                <input type="submit" class="btn btn-primary btn-large" value="Create My Account" />
                                <p>Already have an account? <a href="/account/login">Log In</a></p>
                            </div> <!-- /form-actions -->
                        }
                    </div>
                    <!-- /widget-content -->
                </div>
                <!-- /widget -->
            </div>
            <!-- /span6 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="span12" style="text-align: center; margin-top: -20px; margin-bottom: 0px;">
                <p style="margin-top: 0px; color: #708090;">
                  By signing up, you agree to our <a href="/privacy" target="_blank">Privacy Policy</a> and <a href="/terms" target="_blank">Terms of Service</a>.
                </p>
            </div>
        </div>

    </div>
</div>

@section FooterContent {
    @Scripts.Render("~/scripts/main.js")
    <script type="text/javascript">
        function trackSignup() {
            var form = $("#signupform");
            form.validate();
            var isValid = form.valid();
            
    @if (Exceptionless.Core.Settings.Current.EnableGoogleAnalytics) {
        <text>
            if (isValid)
                ga('send', 'event', 'Signup', 'Submit');
        </text>
    }

            return isValid;
        }
    </script>
}
