@model Exceptionless.Web.Models.Account.LocalPasswordModel

<p class="text-info">
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("ManagePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" })) {
    @*@Html.AntiForgeryToken()*@

    @Html.BeginControlGroupFor(m => m.NewPassword)
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
        </div> <!-- /controls -->
    @Html.EndControlGroup()

    @Html.BeginControlGroupFor(m => m.ConfirmPassword)
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })	
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
        </div> <!-- /controls -->
    @Html.EndControlGroup()

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="command: updatePasswordCommand, template: { name: 'command-button-template', data: { command: updatePasswordCommand, name: 'Set password', executingName: 'Updating password' } }">Set password</button>
        @Html.ActionLink("Cancel", "Index", "Project", null, new { @class = "btn" })
    </div> <!-- /form-actions -->
}