@model Exceptionless.Web.Models.Account.ExternalLoginConfirmationModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}

<div class="widget" id="add-project">
    <div class="widget-header">
        <h3>Confirm Your @ViewBag.ProviderDisplayName Account Details</h3>
    </div> <!-- /widget-header -->
    <div class="widget-content">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Token = ViewBag.Token }, FormMethod.Post, new { @class = "form-horizontal" })) {
            @Html.AntiForgeryToken()

            @Html.BeginControlGroupFor(m => m.FullName)
                @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "input-large", placeholder = "Your first and last name" })
                    @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "help-inline" })
                </div>
            @Html.EndControlGroup()
            
            @Html.BeginControlGroupFor(m => m.EmailAddress)
                @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-large", placeholder = "Email", type = "email" })
                    @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-inline" })
                </div>
                    @Html.EndControlGroup()

            @Html.HiddenFor(m => m.ExternalLoginData)

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Save Account" />
            </div> <!-- /form-actions -->
        }
    </div> <!-- /widget-content -->
</div> <!-- /widget -->
