@model Exceptionless.Web.Models.Common.EmailAddressModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}

<div class="row">
    <div class="span7">
        <div class="widget">
            <div class="widget-header">
                <h3>Reset your password</h3>
            </div> <!-- /widget-header -->
            <div class="widget-content">
            @Html.ValidationSummary(true, null, new Dictionary<string, object> { { "style", "color: red;" } })
            @if (ViewBag.EmailSent != null) {
                <p class="message-info">An email was sent that contains instructions to change your password.</p>
            } else {
                using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                @Html.BeginControlGroupFor(m => m.EmailAddress)
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-large", placeholder = "Email", type = "email" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-inline" })
                    </div>
                @Html.EndControlGroup()

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Forgot Password" />
                </div> <!-- /form-actions -->
                }
            }
            </div> <!-- /widget-content -->
        </div> <!-- /widget -->
    </div> <!-- /span9 -->
</div> <!-- /row -->