@using Exceptionless.App.Extensions
@model Exceptionless.App.Models.Account.ResetPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_BareLayout.cshtml";
}

<div class="row">
    <div class="span7">
        <div class="widget">
            <div class="widget-header">
                <h3>Change password</h3>
            </div> <!-- /widget-header -->
            <div class="widget-content">
                @if (Model.Cancelled) {
                    <p>
                        The password reset request has been cancelled.
                    </p>
                } else {
                    using (Html.BeginForm()) {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ResetPasswordToken)

                        @Html.BeginControlGroupFor(m => m.NewPassword)
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "input-large" })
                                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
                            </div>
                        @Html.EndControlGroup()

                        @Html.BeginControlGroupFor(m => m.ConfirmPassword)
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-large" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
                            </div>
                        @Html.EndControlGroup()

                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="Change Password" />
                        </div> <!-- /form-actions -->
                    }
                }
            </div> <!-- /widget-content -->
        </div> <!-- /widget -->
    </div> <!-- /span9 -->
</div> <!-- /row -->