@model Exceptionless.Models.Organization
@{
    ViewBag.Title = "Manage \"" + Model.Name + "\" Organization";
}

<div id="free-plan-notification" class="alert in fade alert-success" style="display: none;">
    <strong>You are on a free plan.</strong>
    <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog({ id: '@Model.Id', name: '@Model.Name', planId: '@Model.PlanId' })">Upgrade now</a> to enable premium features and extra storage!
</div>

<div class="row">
    <div class="span9">
        <div class="widget" id="organization-@Model.Id">
            <div class="widget-header">
                <h3>@ViewBag.Title</h3>
            </div> <!-- /widget-header -->

            <div class="widget-content">
                <div class="tabbable">
                    <ul class="nav nav-tabs" data-tabs="tabs" id="organization-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#default">General</a>
                        </li>
                        <li><a data-toggle="tab" href="#projects">Projects</a></li>
                        <li><a data-toggle="tab" href="#users">Users</a></li>
                        <li><a data-toggle="tab" href="#billing">Billing</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="default">
                            <div class="control-group" data-bind="validationElement: name">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    <input type="text" data-bind="value: name" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" data-bind="command: saveCommand, template: { name: 'command-button-template', data: { command: saveCommand, name: 'Save', executingName: 'Saving' } }">Save</button>
                            </div>
                        </div>
                        
                        <div class="tab-pane" id="projects">
                            @Html.Partial("_Projects", false)
                            
                            <div class="form-actions">
                                @Html.ActionLink("New Project", "Add", "Project", null, new { @class="btn btn-primary" })
                            </div>
                        </div>

                        <div class="tab-pane" id="users">
                            <table class="table table-striped table-bordered table-fixed">
                                <thead>
                                    <tr>
                                        <th>Email Address</th>
                                        <th class="action" data-bind="visible: items().length > 0">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: items">
                                    <tr>
                                        <td><span data-bind="text: emailAddress"></span><span class="invite" data-bind="visible: isInvite"> [Invited]</span></td>
                                        <td>
                                            <a class="btn btn-small" data-bind="click: $parent.resendNotification, attr: { title: 'Resend Invite Email' }">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                            <a class="btn btn-small" data-bind="click: $parent.removeItem, attr: { title: isInvite() ? 'Revoke Invite' : 'Remove User' }">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-actions">
                                <button class="btn btn-primary" data-bind="click: addItem">Invite User</button>
                            </div>

                            <div id="add-new-item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-new-item-modal" aria-hidden="true">
                                <div class="modal-header">
                                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    <h3>Invite user to "<span data-bind="text: name"></span>"</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="control-group" data-bind="validationElement: newItem">
                                        <label for="emailAddress" class="control-label">Email address</label>
                                        <div class="controls">
                                            <input type="email" class="input-xlarge" id="emailAddress" data-bind="value: newItem, valueUpdate: 'keyup'" placeholder="Email address">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary pull-right" data-bind="command: saveItemCommand, template: { name: 'command-button-template', data: { command: saveItemCommand, name: 'Send Invite', executingName: 'Sending Invite' } }">Send Invite</button>
                                </div>
                            </div>
                        </div>
                            
                        <div class="tab-pane" id="billing">
                            <p data-bind="visible: selectedPlan.id !== exceptionless.Constants.FREE_PLAN_ID" style="display: none">
                                You are currently on the <strong data-bind="text: selectedPlan().name"></strong> plan. 
                                <a href="#plan-modal" onclick="exceptionless.App.showChangePlanDialog({ id: '@Model.Id', name: '@Model.Name', planId: '@Model.PlanId'  })">Upgrade your plan</a> for <a href="https://exceptionless.com/pricing" target="_blank">additional features and storage</a>!
                            </p>

                            <table class="table table-striped table-bordered table-clickable table-hover table-fixed">
                                <thead>
                                    <tr>
                                        <th>Payment Number</th>
                                        <th style="width: 70px">Date</th>
                                        <th class="number">Status</th>
                                        <th data-bind="visible: items().length > 0, css: exceptionless.App.user().hasAdminRole ? 'action' : 'action-small'">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko foreach: items -->
                                    <tr>
                                        <td data-bind="click: $parent.rowClick"><a data-bind="text: id, attr: { href: '/organization/payment/' + id, target: '_blank' }" title="View Payment"></a></td>
                                        <td data-bind="formatWithMonthDayYear: date, click: $parent.rowClick"></td>
                                        <td data-bind="text: paid ? 'Paid' : 'Unpaid', click: $parent.rowClick"></td>
                                        <td>
                                            <a data-bind="attr: { href: '/organization/payment/in_' + id, target: '_blank' }" title="View Payment" class="btn btn-small">
                                                <i class="fa fa-file"></i>
                                            </a>
                                            <a data-bind="visible: id && exceptionless.App.user().hasAdminRole,  attr: { href: 'https://manage.stripe.com/invoices/' + id, target: '_blank' }" title="View Stripe Invoice" class="btn btn-small">
                                                <i class="fa fa-credit-card"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr style="display: none;" data-bind="visible: items().length === 0 && !loading()">
                                        <td colspan="4">No payments were found.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- /widget-content -->
        </div> <!-- /widget -->
    </div> <!-- /span9 -->
</div> <!-- /row -->

@section FooterContent {
    @Html.Partial("_CommandButtonTemplate")
    <script type="text/javascript">
        $(document).ready(function() {
            var vm = new exceptionless.organization.EditViewModel('default', 'main-nav', 'projects', 'users', 'billing', '@Model.Id', 'organization-tabs', 20, null, @Html.Raw(Json.Encode(Model)));
        });
    </script>
}
