@model Exceptionless.Web.Models.Organization.InvoiceModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container invoice">
    <div class="row">
        <div class="span4">
            <img src="/images/exceptionless-logo.png" title="logo">
            <address>
                <strong>Exceptionless</strong><br>
                5250 Hwy 78, Suite 750-324<br>
                Sachse, TX 75048<br>
            </address>
        </div>
        <div class="span5">
            <div class="widget widget-table">
                <div class="widget-content">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Organization</th>
                                <td>@Model.Organization.Name</td>
                            </tr>
                            <tr>
                                <th>Payment #</th>
                                <td>@Model.Id</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>@Model.Invoice.Date.Value.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>@(Model.Invoice.Paid.HasValue && Model.Invoice.Paid.Value ? "Paid" : "Unpaid")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <div class="widget widget-table">
                <div class="widget-header">
                    <i class="fa fa-file"></i>
                    <h3>@(Model.Invoice.Paid.HasValue && Model.Invoice.Paid.Value ? "Receipt" : "Payment")</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in Model.Invoice.StripeInvoiceLines.StripeInvoiceItems)
                            {
                                <tr>
                                    <td>Exceptionless - @line.Plan.Name Plan ($@((line.Plan.AmountInCents / 100).ToString())/@line.Plan.Interval)</td>
                                    <td>@line.Period.Start.Value.ToShortDateString() - @line.Period.End.Value.ToShortDateString()</td>
                                    <td>$@((line.AmountInCents / 100).ToString())</td>
                                </tr>
                            }

                            @if (Model.Invoice.StripeDiscount != null)
                            {
                                <tr>
                                    <td>@Model.Invoice.StripeDiscount.StripeCoupon.Id (@Model.Invoice.StripeDiscount.StripeCoupon.PercentOff%)</td>
                                    <td>&nbsp;</td>
                                    <td>-$@(Model.Invoice.TotalInCents * (Model.Invoice.StripeDiscount.StripeCoupon.PercentOff / 100))</td>
                                </tr>
                            }
                            <tr>
                                <td>&nbsp;</td>
                                <td><strong>Total</strong></td>
                                <td><strong>$@((Model.Invoice.TotalInCents / 100).ToString())</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <strong>Phone:</strong> <a href="tel:800-719-3309">800-719-3309</a>
        </div>
        <div class="span3">
            <strong>Email:</strong> <a href="mailto:sales@exceptionless.com">sales@exceptionless.com</a>
        </div>
        <div class="span3">
            <strong>Website:</strong> <a href="http://exceptionless.com">http://exceptionless.com</a>
        </div>
    </div>
</div>
