@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string logoUrl = ViewBag.LogoUrl ?? "http://exceptionless.com/";
}

@section HeadContent {
    @if (IsSectionDefined("HeadContent")) {
        @RenderSection("HeadContent", required: false)
    } else {
        @Styles.Render("~/content/main.css")
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" id="header-nav">
            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="@logoUrl"><img class="brand" src="/images/exceptionless-logo.png" alt="Exceptionless" /></a>
            
            @RenderSection("NavItemContent", false)

        </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
</div> <!-- /navbar -->

@RenderBody()

@section FooterContent {
    @if (IsSectionDefined("FooterContent")) {
        @RenderSection("FooterContent", required: false)
    } else {
        @Scripts.Render("~/scripts/main.js")
    }
}