@using CodeSmith.Core.Extensions
@model Exceptionless.Models.Data.Error

<table class="table table-bordered table-striped table-fixed keyvalue">
    <tr>
        <th>Occurred On</th>
        <td>@Model.OccurrenceDate.ToString("MMMM d, yyyy h:mm:ss tt") (<span data-bind="livestamp: occurrence, hideTitle: true"></span>)</td>
    </tr>
    <tr>
        <th>Machine Name</th>
        <td><span class="t8-default">@Model.EnvironmentInfo.MachineName</span></td>
    </tr>
    <tr>
        <th>IP Address</th>
        <td>@Model.EnvironmentInfo.IpAddress</td>
    </tr>
    <tr>
        <th>Processor Count</th>
        <td>@Model.EnvironmentInfo.ProcessorCount</td>
    </tr>
    <tr>
        <th>Total Memory</th>
        <td>@Model.EnvironmentInfo.TotalPhysicalMemory.ToFileSizeDisplay()</td>
    </tr>
    <tr>
        <th>Available Memory</th>
        <td>@Model.EnvironmentInfo.AvailablePhysicalMemory.ToFileSizeDisplay()</td>
    </tr>
    <tr>
        <th>Process Memory</th>
        <td>@Model.EnvironmentInfo.ProcessMemorySize.ToFileSizeDisplay()</td>
    </tr>
    @if (!String.IsNullOrEmpty(Model.EnvironmentInfo.OSName)) {
        <tr>
            <th>OS Name</th>
            <td><span class="t8-default">@Model.EnvironmentInfo.OSName</span></td>
        </tr>
    }
    @if (!String.IsNullOrEmpty(Model.EnvironmentInfo.OSVersion)) {
        <tr>
            <th>OS Version</th>
            <td>@Model.EnvironmentInfo.OSVersion</td>
        </tr>
    }
    <tr>
        <th>Architecture</th>
        <td>@Model.EnvironmentInfo.Architecture</td>
    </tr>
    <tr>
        <th>Runtime Version</th>
        <td>@Model.EnvironmentInfo.RuntimeVersion</td>
    </tr>
    <tr>
        <th>Process ID</th>
        <td>@Model.EnvironmentInfo.ProcessId</td>
    </tr>
    <tr>
        <th>Process Name</th>
        <td><span class="t8-default">@Model.EnvironmentInfo.ProcessName</span></td>
    </tr>
    <tr>
        <th>Command Line</th>
        <td><span class="t8-lines2">@Model.EnvironmentInfo.CommandLine</span></td>
    </tr>
</table>

@if (Model.ExceptionlessClientInfo != null) {
<h4>Client Information</h4>
<table class="table table-bordered table-striped table-fixed keyvalue">
    <tr>
        <th>Install Date</th>
        <td>@Model.ExceptionlessClientInfo.InstallDate.ToString("MMMM d, yyyy h:mm:ss tt") (<span data-bind="livestamp: installDate, hideTitle: true"></span>)</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>@Model.ExceptionlessClientInfo.Version</td>
    </tr>
    @if (!String.IsNullOrEmpty(Model.ExceptionlessClientInfo.Platform)) {
        <tr>
            <th>Platform</th>
            <td>@Model.ExceptionlessClientInfo.Platform</td>
        </tr>
    }
    @if (!String.IsNullOrEmpty(Model.ExceptionlessClientInfo.SubmissionMethod)) {
        <tr>
            <th>Submission Method</th>
            <td>@Model.ExceptionlessClientInfo.SubmissionMethod</td>
        </tr>
    }
    <tr>
        <th>Application Starts</th>
        <td>@Model.ExceptionlessClientInfo.StartCount</td>
    </tr>
    <tr>
        <th>Errors Submitted</th>
        <td>@Model.ExceptionlessClientInfo.SubmitCount</td>
    </tr>
</table>
}