@model Exceptionless.App.Models.Error.ErrorModel

<table class="table table-bordered table-striped table-fixed keyvalue">
    <tr>
        <th>Occurred On</th>
        <td>@Model.OccurrenceDate.ToString("MMMM d, yyyy h:mm:ss tt") (<span data-bind="livestamp: occurrence, hideTitle: true"></span>)</td>
    </tr>
    @if (Model.OccurrenceDate != Model.ClientTime) {
        <tr>
            <th class="">Client Time</th>
            <td>@Model.ClientTime.ToString("MMMM d, yyyy h:mm:ss tt")</td>
        </tr>
    }
    @if (Model.Tags.Count > 0) {
        <tr>
            <th>Tags</th>
            <td>@Html.DisplayFor(m => m.Tags)</td>
        </tr>
    }
    <tr>
        <th>Error Type</th>
        <td><span class="t8-default">@Model.StackingType</span></td>
    </tr>
    <tr>
        <th>Message</th>
        <td><span class="t8-lines2">@Model.StackingMessage</span></td>
    </tr>
    @if(!String.IsNullOrEmpty(Model.Code)) {
        <tr>
            <th>Code</th>
            <td>@Model.Code</td>
        </tr>
    }

    @if(Model.ExceptionlessClientInfo != null && !String.IsNullOrEmpty(Model.ExceptionlessClientInfo.Platform)) {
        <tr>
            <th>Platform</th>
            <td>@Model.ExceptionlessClientInfo.Platform</td>
        </tr>
    }
    @if (Model.RequestInfo != null) {
        <tr>
            <th>URL</th>
            <td><a href="@Model.RequestInfo.GetFullPath()" target="_blank" class="t8-default">@Model.RequestInfo.GetFullPath()</a></td>
        </tr>
        <tr>
            <th>Referrer</th>
            @if (!String.IsNullOrEmpty(Model.RequestInfo.Referrer)) {
                <td><a href="@Model.RequestInfo.Referrer" target="_blank" class="t8-default">@Model.RequestInfo.Referrer</a></td>
            } else {
                <td><em>None</em></td>
            }
        </tr>
    }
    @if (Model.UserAgentInfo != null && !Model.UserAgentInfo.UserAgent.Family.Contains("Other")) {
        <tr>
            <th>Browser</th>
            <td><span class="t8-default">@Model.UserAgentInfo.UserAgent.ToString()</span></td>
        </tr>
        <tr>
            <th>Browser OS</th>
            <td>@Model.UserAgentInfo.OS.ToString()</td>
        </tr>
    }
</table>

@if (!String.IsNullOrEmpty(Model.UserName)
    || !String.IsNullOrEmpty(Model.UserEmail)
    || !String.IsNullOrEmpty(Model.UserDescription)) {
    <h4>User Info</h4>
    <table class="table table-bordered table-striped table-fixed keyvalue">
        @if (!String.IsNullOrEmpty(Model.UserEmail)) {
            <tr>
                <th>User Email</th>
                <td><a href="mailto:@Model.UserEmail" class="t8-default">@Model.UserEmail</a></td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.UserName)) {
            <tr>
                <th>User Name</th>
                <td><span class="t8-default">@Model.UserName</span></td>
            </tr>
        }
        @if (!String.IsNullOrEmpty(Model.UserDescription)) {
            <tr>
                <th>User Description</th>
                <td><span class="t8-lines2">@Model.UserDescription</span></td>
            </tr>
        }
    </table>
}

<h4>Stack Trace</h4>
<pre class="stacktrace stacktrace-mini">@Html.Raw(Model.ToHtmlString())</pre>
