@using MongoDB.Driver.Linq
@model Exceptionless.App.Models.Organization.InvoiceModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var coupon = Model.Invoice.StripeDiscount != null ? Model.Invoice.StripeDiscount.StripeCoupon : null;
    var discountAmount = 0d;
    if (coupon != null) {
        discountAmount = coupon.AmountOff.HasValue ? coupon.AmountOff.Value : (Model.Invoice.Subtotal.GetValueOrDefault()) * (coupon.PercentOff.GetValueOrDefault() / 100.0);
    }
}

<div class="container invoice">
    <div class="row">
        <div class="span4">
            <img src="/images/exceptionless.png" title="logo">
            <address>
                <strong>Exceptionless</strong><br>
                5250 Hwy 78, Suite 750-324<br>
                Sachse, TX 75048<br>
            </address>
        </div>
        <div class="span5">
            <div class="widget widget-table">
                <div class="widget-content">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Organization</th>
                                <td>@Model.Organization.Name</td>
                            </tr>
                            <tr>
                                <th>Payment #</th>
                                <td>@Model.Id</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>@Model.Invoice.Date.Value.ToShortDateString()</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>@(Model.Invoice.Paid.HasValue && Model.Invoice.Paid.Value ? "Paid" : "Unpaid")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <div class="widget widget-table">
                <div class="widget-header">
                    <i class="fa fa-file"></i>
                    <h3>@(Model.Invoice.Paid.HasValue && Model.Invoice.Paid.Value ? "Receipt" : "Payment")</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Date</th>
                                <th><div class="text-right">Amount</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in Model.Invoice.StripeInvoiceLines.StripeInvoiceItems)
                            {
                                <tr>
                                    @if (line.Plan != null) {
                                    <td>Exceptionless - @line.Plan.Name Plan (@((line.Plan.Amount / 100.0).ToString("c"))/@line.Plan.Interval)</td>
                                    } else {
                                    <td>@line.Description</td>
                                    }
                                    @if (@line.Period.Start.GetValueOrDefault() == @line.Period.End.GetValueOrDefault()) {
                                    <td>@line.Period.Start.GetValueOrDefault().ToShortDateString()</td>
                                    } else {
                                    <td>@line.Period.Start.GetValueOrDefault().ToShortDateString() - @line.Period.End.GetValueOrDefault().ToShortDateString()</td>
                                    }
                                    <td><div class="text-right"><strong>@((line.Amount.GetValueOrDefault() / 100.0).ToString("c"))</strong></div></td>
                                </tr>
                            }
                            
                            @if (coupon != null)
                            {
                                <tr>
                                    <td>@coupon.Id @(coupon.PercentOff.HasValue ? "(" + coupon.PercentOff.Value + "% off)" : "(" + (coupon.AmountOff.GetValueOrDefault() / 100.0).ToString("C") + " off)")</td>
                                    <td>&nbsp;</td>
                                    <td><div class="text-right"><strong>-@((discountAmount / 100.0).ToString("C"))</strong></div></td>
                                </tr>
                            }
                            <tr>
                                <td>&nbsp;</td>
                                <td><strong>Total</strong></td>
                                <td><div class="text-right"><strong>@((Model.Invoice.Total.GetValueOrDefault() / 100.0).ToString("C"))</strong></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span5">
            <strong>Email:</strong> <a href="mailto:team@exceptionless.com">sales@exceptionless.com</a>
        </div>
        <div class="span3">
            <strong>Website:</strong> <a href="http://exceptionless.com">http://exceptionless.com</a>
        </div>
    </div>
</div>
